body {
    font-family: Arial, sans-serif;
}

.Search_bar_container {
    background-color: rgb(90,69,170);
    padding-top: 83px;
    padding-bottom: 50px;
}
.Search_bar_container.modified {
    background-color: rgb(255, 255, 255);
    padding-top: 83px;
    padding-bottom: 50px;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: rgb(54,46,86);
    color: #fff;
    padding: 20px;
    width: 55%;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 25px;
}
.search-bar.modified {
    display: flex;
    align-items: center;
    background-color:  rgb(120,120,120);
    color: #fff;
    padding: 20px;
    width: 55%;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 25px;
}

.label {
    font-weight: bold;
    color: white;
}

.search_field {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 55px;
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
}
.relative-absolute {
    width: 65%;
    position: relative;
}

.relative-absolute .search_field input[type="text"] {
    flex: 1;
    padding: 10px;
    background-color: rgb(54,46,86);
    color: #fdfdfd;
    width: 85%;
    font-size: large;
    font-weight: bold;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.search_field.modified input[type="text"] {
    background-color:  rgb(120,120,120);
}

.search_field input[type="text"]::placeholder {
    color: rgb(253, 253, 253);  
}

.search_field button {
    background-color: rgb(54,46,86);
    border: none;
    padding: 15px;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;  
}
.search_field.modified button {
    background-color:  rgb(120,120,120);
}

.icon_2 {
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
}
.short_logo_urdu {
    display: none;
}



/* Font Awesome icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.nav_menu_2 {
    display: none; 
    list-style: none; 
    margin: 80px auto;
    padding: 0;
    color :white;
}
.nav_menu_2 a {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav_menu_2.active {
    display: block;
    position: fixed;
    top: 90px;
    left: 0px;
    width: 100%;
    background-color: rgb(54, 46, 86);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}



@media (max-width: 767px) {
    .Search_bar_container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .search-bar {
        display: flex;
        align-items: center;
        background-color: rgb(54,46,86);
        color: #fff;
        padding: 15px;
        width: 95%;
        justify-content: space-between;
        margin: 0 auto;
        border-radius: 25px;
    }
    .label {
        display: none;
    }
    .short_logo_urdu {
        display: block; /* Show the small logo */
        /* position: relative; */
        margin-right: 15px;
    }
    .icon_2 {
        font-size: 30px;
        font-weight: bold;
    }
    .search_field input[type="text"] {
        font-size: 12px;
    }


    .search_field {
        display: flex;
        justify-content: center;
        flex-direction: row;
        border: 2px solid white;
        border-radius: 55px;
        background-color: rgb(255, 255, 255);
        /* width: 65%; */
    }
    
    .search_field button {
        padding: 10px;
    }
    .nav_menu_2 {
        display: none; 
        list-style: none; 
        margin: 0px;
        padding: 0;
        color :white;
    }
    .suggestions-dropdown {
        position: absolute;
        background-color: rgb(54, 46, 86);
        /* border: 1px solid #ccc; */
        z-index: 1000;
        max-height: 400px;
        width: 400px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
}

@media (max-width: 767px) {
    .Search_bar_container.modified {
        padding-top: 0px;
        padding-bottom: 20px;
        position: relative;
    }
    .search-bar.modified {
        display: flex;
        align-items: center;
        background-color: rgb(120,120,120);
        color: #fff;
        padding: 15px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        border-radius: 0px;
    }
}

/* //search popup styling */
.search_field {
    position: relative; /* Set relative positioning to position suggestions */
}

.suggestions-dropdown {
    position: absolute; /* Position the dropdown absolutely */
    background-color: rgb(54,46,86);
    /* border: 1px solid #ccc; Border for the dropdown */
    z-index: 1000; /* Ensures it appears above other elements */
    max-height: 400px; /* Maximum height for the dropdown */
    /* overflow-y: auto; Enable scrolling for long lists */
    width: 100%; /* Match the width of the input */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
    border-radius: 4px; /* Optional: add rounded corners */
}

.suggestions-dropdown li {
    padding: 8px 12px; /* Padding for each suggestion */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.suggestions-dropdown li:hover {
    background-color: #253c5e; /* Highlight suggestion on hover */
}
