body {
    font-family: Arial, sans-serif;
}

.Search_bar_container {
    background-color: rgb(90,69,170);
    padding-top: 83px;
    padding-bottom: 50px;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: rgb(54,46,86);
    color: #fff;
    padding: 20px;
    width: 55%;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 25px;
}

.label {
    font-weight: bold;
    color: white;
}

.search_field {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 55px;
    background-color: rgb(255, 255, 255);
    width: 65%;
}

.search_field input[type="text"] {
    flex: 1;
    padding: 10px;
    background-color: rgb(54,46,86);
    color: #fdfdfd;
    width: 85%;
    font-size: large;
    font-weight: bold;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search_field button {
    background-color: #444;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

.menu-icon {
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
}



/* Font Awesome icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
