body {
    font-family: Arial, sans-serif;
}

.Search_bar_container {
    background-color: rgb(255, 255, 255);
    padding-top: 83px;
    padding-bottom: 50px;
}
.search-bar {
    background-color: rgb(120,120,120);
}
.search_field input[type="text"] {
    background-color:  rgb(120,120,120);
}
.search_field button {
    background-color: rgb(120,120,120);
}