.container {
    margin: 20px;
}

h1 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}


.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.pagination-controls button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(81,193,171); 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.pagination-controls button:hover {
    background-color: rgb(226,221,246); 
    color: black;
}

.pagination-controls span {
    margin: 0 10px;
    font-weight: bold;
    color: white;
}

.all-word-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    list-style: none;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

.word-list-container {
    background-color: black;
    position: relative; /*Ensures it has a stacking context */
    z-index: 0; 
}
.word-list-container h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.each-word {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    /* background: rgb(255, 255, 255); */
    transition: transform 0.3s ease;
    /* border: 1px rgb(255, 255, 255) solid; */
}

.each-word::before {
    filter: blur(5px);
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* background: conic-gradient(
        from 0deg, 
        #ff5733,
                #3375ff,
                #8c33ff
                
    ); */
    background: rgb(81,193,171);
    border-radius: 5px;
} 
/* Hover state */
.each-word:hover {
    /* background: #884f21; */
    transform: scale(0.9);
}


.Letter-part {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
  }
  
  
  .alphabet-button {
    padding: 8px 12px;
    background-color: rgb(81,193,171);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .alphabet-button:hover {
    background-color: rgb(226,221,246);
    color: black;
  }
  




  @media (max-width: 767px) {
    .Letter-part {
        padding: 20px;
        gap: 5px;
        flex-wrap: wrap;
    }
    .pagination-controls {
        font-size: 15px;
    }
    .word-list-container h1{
        font-size: 25px;
    }
  }